{% extends 'base.html' %}




{% block content %}
<section class="gc_per">
    <h1 class="align-center p-2">Count Point Mutations</h1>
    <br><br>
    <center>
    <div class="gc">
        <form action={{url_for('mutations_count')}} method="post">

            <input placeholder="enter seq1" class="inp-gc seq1" type="text" name="seq1"> <br><br>
            <input placeholder="enter seq2" class="inp-gc seq2" type="text" name="seq2"> <br>  <br>
            <span style="font-size: 0.7em;">please enter two sequences that have the same length</span> <br> <br>
        <button class="btn gc-btn" type="submit">Compare</button>
        </form>
        <br>
        <br>

        <b>
            {{seq1}}
        </b>
        <br>
        <br>
        <b>
            {{seq2}}
        </b>
        <br>
        <br>
    </center>
    <table id='mutation' >				<!-- create an table object -->
     <tr>				<!-- "tr" represents a row -->
       <th scope="col">Position Mutation</th>	<!-- use "th" to indicate header row -->
       <th scope="col">nucleotide 1</th>
       <th scope="col">nucleotide 2</th>
     </tr>
     <tr>
     {% for m in mc %}
         <td data-label="Position Mutation">{{m[0] + 1}}</td>
         <td data-label="nucleotide 1" style='color: red;'>{{m[1]}}</td>
         <td data-label="nucleotide 2" style='color: red;'>{{m[2]}}</td>

     </tr>
     {% endfor %}
   </table>
        <br>
        <br>
        <p class="align-center p-2" id='mut_count'> mutations_count : {{l}} </p>
        <br>
        <br>

        <center>
            <button class='btn_save' onclick='saveMut()'> save Mutation as</button>
        </center>
        <br>
        <br>
        <br>

    </div>
</section>

{% endblock %}





