{% extends 'base.html' %}




{% block content %}
<section class="gc_per">
    <h1>Count Point Mutations</h1>
    <br><br>
    <div class="gc">
        <form action={{url_for('mutations_count')}} method="post">

            <input placeholder="enter seq1" class="inp-gc seq1" type="text" name="seq1"> <br><br> 
            <input placeholder="enter seq2" class="inp-gc seq2" type="text" name="seq2"> <br>  <br>
            <span style="font-size: 0.7em;">please enter two sequences that have the same length</span> <br> <br>
        <button class="btn gc-btn" type="submit">Compare</button>
        </form>
        {{seq1}}
        <br>
        {{seq2}}
    <table style='border-collapse: separate; border-spacing: 0 15px;border: 1px solid #333;'>				<!-- create an table object -->
     <tr>				<!-- "tr" represents a row -->
       <th>Position Mutation</th>	<!-- use "th" to indicate header row -->
       <th>nucleotide 1</th>
       <th>nucleotide 2</th>
     </tr> 
     {% for m in mc %}
         <td>{{m[0] + 1}}</td>
         <td style='color: red;'>{{m[1]}}</td>
         <td style='color: red;'>{{m[2]}}</td>

     </tr>    
     {% endfor %}
   </table>
        <br>
        mutations_count : {{l}} 

    </div>
</section>

{% endblock %}





